*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.big{
    width: 100%;
    height:100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    /* background: url('./princess/1.jpg')no-repeat 0px 50px; */
    /* background-size: 100% ; */
}
.title{
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.title>div{
    font-size: 28px;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swiper {
    border-radius: 20PX;
    height: 260px;
}  
.tu1{
    width: 100%;
    transform: translateY(-25px);
}
.tu2{
    width: 100%;
       transform: translateY(-60px);
     
}
.tu3{
    width: 100%;
       transform: translateY(-100px);
     
}
.sheng{
    width: 100%;
    height: 150px;
    margin-top: 15px;
   
    display: flex;
    background: rgba(255,255,255,.3);
    align-items: center;
    justify-content: space-between;
}
.sheng>div{
    width: 25%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.sheng>div>div{
    width: 100px;
    height:100px;
   display: flex;
    align-items: center;
    justify-content: center;
   
  
}
.sheng>div>div>img{
    width: 90px;
    height: 100px;
      border-radius: 10px;
}
.sheng>div>span{
    font-size: 18px;
    margin-top: 5px;
   
    color: #fff;
    font-weight: bold;
}

.da{
    width: 100%;
    height:200px;
margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      background: rgba(255,255,255,.2);
}
.da>div:nth-child(1){
    width: 30%;
   
}
.da>div:nth-child(1)>img{
    width: 100%;
    border-radius: 10px;
}
.da>div:nth-child(2){
    width: 50%;
}
.da>div:nth-child(2)>img{
    width: 100%;
   border-radius: 10px;
}

.daa{
    width: 100%;
    height:260px;
margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
      background: rgba(255,255,255,.2);
}
.daa>div:nth-child(1){
    width: 50%;
   
}
.daa>div:nth-child(1)>img{
    width: 100%;
      border-radius: 10px;
   
}
.daa>div:nth-child(2){
    width: 40%;
  
   
}
.daa>div:nth-child(2)>img{
    width: 100%;
      border-radius: 10px;
    
   
}